@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf),
        url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf),
        url(../fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
}