@import url(../components/header.css);
@import url(../components/footer.css);
@import url(../components/buttons.css);
@import url(../components/graphic-chart.css);
@import url(../fonts/fonts.css);
@import url(../variables/reset.css);

body {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

main {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p {
    color: #404040;
    text-align: center;
}

.darker {
    color: #191919;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 1rem;
}

.quote img {
    width: 92px;
}

.quote-text {
    font-size: 1.3rem;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 1.5rem;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

main h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.125rem;
    font-weight: 700;
}

main span {
    background-color: #FB2056;
    width: 90px;
    height: 3px;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
}

.container img {
    filter: brightness(103%) contrast(96%) saturate(81%) blur(0px) hue-rotate(336deg);
    width: 466px;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 10px 10px rgba(64, 64, 64, 0.1);
    border-radius: 8px;
    margin: 30px;
}

.container-text {
    width: 450px;
    padding: 20px;
}

main article h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
}

.event {
    color: white;
    width: 100%;
    height: 597px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url(../images/home-section-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 0px;
}

.event div {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-inline-start: 50%;
}

.event div span {
    width: 57px;
}

.event div p {
    color: white;
    text-align: left;
}

.destination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

.destination div {
    width: 368px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    gap: 1.5rem;
}

.destination div h2 {
    width: 308px;
}

.destination div p {
    text-align: left;
    padding: 20px 0px;
}

.destination div span {
    width: 46px;
}

.destination article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.destination article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination img {
    filter: brightness(103%) contrast(96%) saturate(134%) blur(0px) hue-rotate(0deg);
    width: 346px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 4px;
}

/* --- RESPONSIVE --- */

@media (max-width: 1139px) {

    .quote img {
        width: 8vw;
    }

    main span {
        width: 8vw;
    }

    .container img {
        width: 41vw;
    }

    .container-text {
        width: 47vw;
    }

    .destination div {
        width: 32vw;
    }

    .destination div h2 {
        width: 27vw;
    }

    .destination div span {
        width: 4vw;
    }

    .destination img {
        width: 30vw;
    }
}

@media (max-width: 1024px) {

    header {
        height: 510px;
    }

    header span {
        width: 94px;
    }

    .event {
        height: 417px;
    }

    .event div span {
        width: 5vw;
    }
}

@media (max-width: 921px) {

    header h3 {
        font-size: 1.25rem;
    }

    header h1 {
        font-size: 2.75rem;
    }

    main p {
        font-size: 0.9rem;
    }

    main h2 {
        font-size: 2rem;
    }

    main h5 {
        font-size: 1rem;
    }

    header {
        height: 476px;
    }

    header nav {
        width: 100%
    }

    header nav img {
        width: 120px;
        padding: 15px 0px;
    }

    header nav .burger-menu {
        color: white;
        background-color: #FB2056;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        padding: 20px;
        margin-right: 20px;
    }

    header nav ul {
        display: none;
    }

}

@media (max-width: 767px) {

    header {
        height: 426px;
    }

    header span {
        width: 12vw;
    }

    .quote img {
        width: 21vw;
    }

    main span {
        width: 18vw;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 88vw;
        height: auto;
    }

    .container-text {
        width: 90vw;
    }

    .event {
        height: 341px;
    }

    .event div {
        padding-inline-start: 0px;
        padding: 20px;
    }

    .event div span {
        width: 17vw;
    }

    .destination div span {
        width: 17vw;
    }

    .destination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destination div {
        width: 93vw;
    }

    .destination div h2 {
        width: 60vw;
    }

    .destination article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destination img {
        width: 97vw;
        height: auto;
    }
}

@media (max-width: 544px) {

    header {
        height: 408px;
    }

    header h1 {
        font-size: 1.875rem;
    }
}